body{
    background-image: url("pic.jpg");
    background-size: 100% 100%;
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0.9;

  

  }
  .container{
    max-width: 400px;
  
  }
  input[type=text],
  input[type=text]:focus{
    color: black;
    border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    background-color: #bccbde;
    max-width: 400px;
  }
  .todos li{
    
    color:black
    
  }
  .delete{
    cursor: pointer;
  }

  h1 {
   font-weight: bold;
      letter-spacing: 0.2rem;
  }
/*when element gets filtered class display:none*/
  .filtered{
    display:none !important;
  }